{% extends 'base.html' %}
{% block content %}
<div class="block-left" style="text-align:justify;margin-left: 40px; margin-right: 40px; width: 550px; display: inline-block;">

        <h3>&Agrave; propos</h3>

                <p>La création de MyBinga a été inspirée de l’expérience personnelle d’Abdelaziz.</br> En tant qu’étudiant Marocain en France, il a souffert de la peine du transfert international de monnaie à cause des charges bancaires nécessaires pour convertir le Dirham à l’Euro. « Mes parents perdaient à chaque transfert 5% de la somme en frais cachés chargés par les banques, en plus la transaction était hyper logue nécessitant même deux semaines des fois» affirme Abdelaziz. </br>En même temps, un ami à son père, Marocain résidant en France depuis des années transférait de l’argent de la France au Maroc pour investir dans de l’immobilier, perdant une large partie à cause des banques.</br>
<br>
Ceci a inspiré le père d’Abdelaziz à faire un arrangement avec son ami qui avait de l’Euros, mettant directement les Dirhams dans son compte bancaire Marocain sans opération de change, tandis qu’Abdelaziz recevait directement les Euros en France. L’opération se déroulait en utilisant le taux bancaire moyen ou interbancaire, permettant aux deux d’économiser jusqu’à 100€ pour un transfert de 1000€.
Cette histoire a inspiré Abdelaziz à créer MyBinga en collaboration avec son ami très multinational, Floris et son pote marocain Mohamed.</br>
<br>
Ils développent actuellement ensemble une solution moins chère alternative aux banques, MyBinga, un service en ligne de transfert de monnaies pair-à-pair.</p>

</div>
<div style="width:500px; float:right; display: inline-block; margin-right: 65px;">
        <img src="{{ STATIC_URL }}images/P2PExchange.png" />
</div>
{% endblock %}
