{% extends 'base.html' %}

{% block content %}
<div style="margin-left: 40px; margin-right: 40px;">
	<h3>Sécurité</h3>

<p>Comme pour tout nouveau produit financier, il est normal de se demander dans quelle mesure son argent est en sécurité. MyBinga prend la sécurité très au sérieux et garantit à ses clients un produit extrêmement sécurisé.

MyBinga prend toutes les mesures possibles pour garantir la sécurité de votre argent et de vos informations personnelles. Nous utilisons un niveau de cryptage équivalent au niveau bancaire et transmettons toutes les informations par le biais de connexions Internet sécurisées.
Toutes les informations sensibles sont stockées dans nos bases de données cryptées.

Nous protégeons l'argent de nos clients en nous assurant que les fonds déposés ne sont pas investis ou prêtés : votre argent reste disponible et vous pouvez le dépenser ou le retirer à tout moment. Et pour vous protéger contre la faillite bancaire (plus fréquente aujourd'hui qu'on ne le voudrait), les fonds de nos clients sont répartis entre plusieurs grandes banques mondiales.</p>
Tous nos clients sont soumis à un processus de vérification au moment de leur inscription, et parce que les fonds sont crédités à l'avance, vous serez toujours assurés de recevoir votre argent lorsque vous faites un swap.

Avec son siège au Royaume-Uni, MyBinga a choisi d'exercer ses activités dans un environnement très réglementé.
Dans le respect des bonnes pratiques commerciales et de notre cadre réglementaire, tous les fonds de nos clients sont déposés sur des comptes séparés.</p>


{% endblock %}
</div>
