.facebook img {
	width: 50px;
	height: 50px;
}
.twitter img {
	width:50px;
	height:50px;
}
#footer{
    background: none repeat scroll 0 0 #0B476A;
    border-radius: 5px;
    margin-top: 5%;
}
#footer .find-us-on{
	margin-left:50px;
	text-align:center;

}
.footerlinks{
	text-align:center;
}
#footer p{
text-color:white;
}
.text{
    color:#FFFFFF;
}